---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import NewsletterForm from '../components/forms/NewsletterForm.astro';

const seo = {
	title: 'Blog | Astro Odyssey Theme',
	description: 'Astro Odyssey Theme Blog Page',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Odyssey Blog</h1>
			<p>
				View our blog to stay up to date on the latest news about our business.
				Want to be the first to hear about a new blog post? Join our newsletter!
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Recent Posts</h2>
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
