:root {
	/* Theme Colors */
	--theme-primary: hsl(0, 85%, 60%);
	/* True Mars Red */
	--theme-primary-hover: hsl(0, 85%, 50%);
	--theme-on-primary: #fff;

	--theme-bg: #0f0f13;
	/* Deep Space Dark */
	--theme-on-bg: #f2f2f2;
	/* Off-white text */

	--theme-surface-1: #1a1a23;
	/* Slightly lighter dark */
	--theme-on-surface-1: #f2f2f2;

	--theme-surface-2: #252532;
	/* Even lighter dark */
	--theme-on-surface-2: #f2f2f2;

	/* Theme Shapes */
	/* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
	--theme-shape-radius: clamp(1rem, 2rem, 3rem);
	--theme-button-border-radius: 3rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 3rem;
	--theme-grid-gap: 1rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;

	--theme-blog-post-header-width: 1200px;

	/* Theme Fonts */
	--theme-font-family-serif: 'Roboto Serif', Georgia, Cambria, 'Times New Roman',
		Times, serif;
	--theme-font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont,
		sans-serif;
}