---
import { Container, StickyTextImageSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Context | NMES for Astronauts',
	description: 'Etiology and Affected Demographic of Muscle Degradation in Space',
};
---

<Layout seo={seo}>
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Problem: Muscle Atrophy</h2>
      <h3>Affected Demographic</h3>
      <p>
        The primary demographic susceptible to space-induced muscular deconditioning consists of crew members engaged in long-duration spaceflights. The resulting physiological maladaptation is a universal phenomenon observed across all astronauts [4].
      </p>
      <p>
        A direct correlation has been established between the duration of microgravity exposure and the severity of muscle atrophy [5]. This poses a threat to astronauts who spend significant time on spacecrafts, reducing the productivity a single astronaut can achieve.
      </p>
      
      <h3>Etiology</h3>
      <p>
        The fundamental factor is the profound reduction of mechanical loading. On Earth, gravity provides a constant stimulus [6]. In microgravity, this is absent.
      </p>
      <p>
        The most pronounced effect is a rapid atrophy of anti-gravity muscles (legs and spine), leading to losses of up to 30% of muscle mass over a six-month mission [2].
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astronauts working in space"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
</Layout>
