---
import { Container, TextSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'NMES for Astronauts | Home',
	description: 'Introduction to Neuromuscular Electrical Stimulation and Muscle Weakness in Astronauts',
};
---

<Layout seo={seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Neuromuscular Electrical Stimulation and Muscle Weakness in Astronauts</h1>
			<p>
				Exploring solutions for muscle atrophy in long-duration space missions.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astronauts in space"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>

	<Container>
		<TextSection narrow>
			<h2>Introduction</h2>
			<p>
				The progression of human space exploration towards long-duration interplanetary missions necessitates a comprehensive understanding of the physiological challenges imposed by the microgravity environment [1]. Among the most significant health concerns is the rapid degradation of skeletal muscle mass and function, a condition termed muscle atrophy, which can substantially impair crew performance during missions and pose significant risks to crew health upon re-exposure to a gravitational field [2].
			</p>
      <p>
        This website provides a comprehensive review of the etiology of this condition, the affected demographic, the current therapeutic countermeasures, and their inherent limitations. It further proposes electrode-based muscle stimulation as a viable and technologically efficient intervention to mitigate this critical health risk.
      </p>
		</TextSection>
	</Container>
</Layout>
